.main{
    display: flex;
    justify-content: space-around;
}

table{
    border: 1px solid black;
    width: 800px;
}

.tableForm{
    display: flex;
    flex-direction: column;
    width: 200px;
}

input{
    margin-bottom: 10px;
}

th, td{
    border: 1px solid black;
}